<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Full Friends Index</title>
		<style type="text/css">
			body{
				width: 970px;
				margin: 0px auto;
				padding: 20px;
			}
			#container h1, form{
			text-align: center;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<h1>Create a Friend</h1>
			<form action="/friends" method="post">
				<label>First Name:</label>
				<input type="text" name="first_name">
				<label>Last Name:</label>
				<input type="text" name="last_name">
				<label>Email:</label>
				<input type="text" name="email">
				<input type="submit" value="Create a Friend">
			</form>
			<table>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Created</th>
					<th>Updated</th>
					<th>Actions</th>
				</tr>
				{% for friend in all_friends %}
				<tr>
					<td>{{ friend[ 'first_name' ] }}</td>
					<td>{{ friend[ 'last_name' ] }}</td>
					<td>{{ friend[ 'email' ] }}</td>
					<td>{{ friend[ 'created_at' ].strftime( '%m/%d/%Y %H:%M:%S') }}</td>
					<td>{{ friend[ 'updated_at' ].strftime( '%m/%d/%Y %H:%M:%S') }}</td>
					<td><form action="/friends/{{ friend[ 'id' ] }}/edit"><input type="submit" value="Update"></form></td>
					<td><form action="/friends/{{ friend[ 'id' ] }}/delete" method="post"><input type="submit" value="Delete"></form></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>